/** Imports **/
@import url('https://fonts.googleapis.com/css2?family=Monofett&family=Rubik&display=swap');

/** VARIABLES **/

:root{

/** Color pallete **/
--light-blue: #77aaf7;
--gey-transparent: rgba(49, 54, 57, 0.95);
--purple: #3a1f64;
--dark-blue-bg: #053278;
--off-white-text: #f5eed8;
--hover-color: #ecf01a;
--current-moneybar: #646406;
--unused-lifeline: #106d10;
--white: #ffffff;
--black: #000000;
--used-lifeline: #c41919;
--selected-answer: #b86a12;
--correct-answer: #106d10;
 
/** Fonts **/
--main-font: 'Rubik', sans-serif;
--question-font: 'Monofett', arial;

/** Other **/
--box: 2px solid #77aaf7;

}

/** GENERAL RULES **/

* {/** general elements rule**/
    margin : 0;
    padding : 0;
    border: none;
    font-family: var(--main-font);
}
body {/** set background color **/
    background-color: var(--light-blue);
    color: var(--off-white-text);
}
h1 {/** properties of h1 elements **/
    padding-bottom: 20px;
    left: 11%;
    position: absolute;
    top: 11%;
}
h2 {/** properties of h2 elements **/
    color: var(--off-white-text);
}
p {/** properties of p elements **/
    margin-top: 10px;
}
.align-center-center {/** alignment of elements center vertiaclly and horizontally **/
    display: flex;
    justify-content: center;
    align-items: center;
}
.blue-border {/** blue border for elements **/
    border: var(--box);
}
.button {/** size and properties of buttons **/
    height: 40px;
    width: 150px;
    color: var(--light-blue);
    border: var(--box);
    font-family: var(--main-font);
    font-size: 150%;
    font-weight: 600;
}
.button:hover {/** buttons - event:hover **/
    background-color: var(--hover-color);
}
.grey-background {/** grey background class for elements **/
    background-color: var(--gey-transparent);
}
::placeholder {/** color of placeholder text **/
    color: var(--light-blue);
}
:-ms-input-placeholder {/** color of placeholder text **/
    color: var(--light-blue);
}
::-ms-input-placeholder {/** color of placeholder text **/
    color: var(--light-blue);
}
::-webkit-scrollbar {/** scrollbars styling **/
    width: 10px;
}
::-webkit-scrollbar-track {/** scrollbars styling **/
    background: var(--gey-transparent);
}
::-webkit-scrollbar-thumb {/** scrollbars styling **/
    background: var(--light-blue);
}
::-webkit-scrollbar-thumb:hover {/** scrollbars styling **/
    background: var(--purple);
}
#unhide-vertical{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    background-color: var(--purple);
}
/** HEADER & FOOTER **/

.header-footer {/** set height, width, position and background color to header and foorter **/
    background-color: rgba(65, 15, 60, 0.85);
    width: 100%;
    height: 7%;
    position: fixed;
    display: flex;	
    align-items: center;	
    justify-content: space-between;
}
#logo-header {/** logo in header **/
    float: left;
    font-size: 280%;
    left: 2.5%;
    top: 15%;
}
.active-page {/** underline of active page of menu **/
    border-bottom: 1px solid var(--off-white-text);
}	
#hamburger, #hamburger-menu label {/** hamburger menu display **/
    display: none;	
}	
#menu {/** menu - box**/
    font-size: 120%;
    display: flex;	
    flex-grow: 1;	
    flex-basis: 0;
    text-transform: uppercase;
}
#menu a {/** menu - links **/
    color: inherit;
    text-decoration: none;
    margin-right: 40px;
}
#menu a:hover {/** menu - links - event:hover **/
    border-bottom: 1px solid var(--off-white-text);
}
#logo-header, #menu {/** set logo and menu in line **/
    line-height: 25px;
    color: var(--off-white-text);
    font-family: var(--main-font);
    letter-spacing: 2px;
}
footer {/** footer - size and position **/
    bottom: 0px;
    line-height: 100px;
    color: var(--off-white-text);
    font-family: var(--main-font);
    font-size: 130%;
}
#socials{/** footer - socials - position **/
    width: 85%;
    text-align: center;
    font-size: 160%;
}
#socials a{/** footer - socials - links **/
    color: inherit;
    text-decoration: none;
}
#socials > li {/** footer - socials - links **/
    display: inline;
    padding-left: 15%;
}
#socials a:hover {/** foooter - socials - event:hover **/
    border-bottom: 1px solid var(--off-white-text);
}
ul{/** set top margin to socails **/
    margin-top: 1%;
}

/** RULES PAGE **/

#logo {/** properties of logo elements **/
    height: 100px;
    width: 100px;
}
#display-container {/** position and size of outer rules container **/
    width: 95%;
    height: 85%;
    background-color: var(--dark-blue-bg);
    background-image: url(../images/rules-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 7.5%;
    left: 2.5%;
}
#rules-inner-container {/** position and size if inner rules container **/
    position: absolute;
    top: 5%;    
    left: 10%;
    width: 80%;
    height: 70%; 
    padding: 2%;
    overflow-y: scroll;
}
#settings {/** position and size of rules navbar **/
    width: 25%;
    height: 5%;
    position: absolute;
    bottom: 14%;
    left: 37.5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 150%;
}
#rules-user-details {/** position and size of user detials and play button form **/
    position: absolute;
    width: 80%;
    height: 60px;
    bottom: 3%;
    left: 10%;
}
#player-name-input {/** size and properties of input field **/
    color: var(--off-white-text);
    height: 40px;
    background: transparent;
    border: var(--box);
    margin-left: 20px;
    padding-left: 10px;
}
#play-button {/** position of play button **/
    margin-left: 60px;
}
#settings-label {/** properties of player name label element **/
    font-size: 110%;
    font-weight: 600;
}
#player-name-label {/** properties of player name label element **/
    font-size: 140%;
    font-weight: 600;
}
.rules-item{
    margin-top: 2%;
    font-size: x-large;
}

/** ALERT MESSAGE **/

#ok-button {/** position of ok button of alert message **/
    position: absolute;
    bottom: 15px;
}
#alert-window {/** size and properties of alert message window **/
    display: none;
    background-color: var(--purple);
    background-image: url(../images/alert-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 46%;
    height: 32%;
    top: 34%;
    left: 27%;
    padding-top: 1%;
    z-index: 2;
}
#info-icon {/** size and properties of info icon in alert window **/
    width: 7%;
    margin-right: 20px;
}
#info-icon-mask{/** size and properties of info icon in porttrait mask **/
    width: 7%;
}
#alert-message {/** margin of actual message text **/
    margin-top: 6%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/** 404 PAGE **/

#alert-window-404 {/** size and properties of alert message window on 404.html**/
    display: block;
    background-color: var(--purple);
    background-image: url(../images/alert-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 46%;
    height: 32%;
    top: 34%;
    left: 27%;
    padding-top: 1%;
}
#ok-button-404 {/** position of home button of alert message on 404.html**/
    margin-top: 30%;
}

/** LIFE-LINES **/

#life-lines-container{/** size and position of lifelines outer container **/
    width: 12%;
    height: auto;
    position: absolute;
    top: 25%;
    bottom: 5%;
    right: 3%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.outer-round {/** size, position and colors of each lifeline **/
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 10px solid var(--unused-lifeline);
    background-color: var(--white);
    color: var(--black);
}
.outer-round:hover {/** lifeline event:hover **/
    border: 10px solid var(--hover-color);    
}
.lifeline-image{/** size of lifeline image **/
    width: 70%;
}

/** MONEYBAR **/

#moneybar-container {/** size and position of moneybar outer container **/
    width: 12%;
    height: auto;
    position: absolute;
    top: 25%;
    bottom: 5%;
    left: 3%;
    display: flex;
    flex-direction: column-reverse;
}
.moneybar-item {/** size, position and colors of each moneybar item **/
    height: 10%;
    border: var(--box);
}

/** SCORE **/

#score-container {/** size and position of score container **/
    width: 12%;
    height: 17%;
    position: absolute;
    top: 5%;
    left: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#score{/** size of score text **/
    margin-top:10%;
    font-size: 200%;
}

/** TIMER **/

#timer-container {/** size and position of score container **/
    width: 12%;
    height: 17%;
    position: absolute;
    top: 5%;
    right: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#timer{/** size and position of timer text **/
    margin-top:10%;
    font-size: 200%;
}

/** QUESTIONS **/

#question-container {/** size and position of score container **/
    height: 25%;
    position: absolute;
    bottom: 5%;
    right: 18%;
    left: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#question{/** position of container for question **/
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 50%;
}
#options {/** position of containers for answers **/
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.answer-class {/** size of each answer **/
    width: 50%;
    display: flex;
    align-items: center;
}
.answer-class:hover {/** answer event:hover **/
    color: var(--hover-color);
}
.letter {/** style of heading letter of each answer **/
    font-family: var(--question-font);
    font-size: 200%;
    margin-left: 2%;
    margin-right: 3%;
}
#answer-a-container{/** Absolute position of A answer **/
    position: absolute;
    top: 0%;
    left: 0%;
    height: 50%;
}
#answer-b-container{/** Absolute position of B answer **/
    position: absolute;
    top: 0%;
    right: 0%;
    height: 50%;
}
#answer-c-container{/** Absolute position of C answer **/
    position: absolute;
    bottom: 0%;
    left: 0%;
    height: 50%;
}
#answer-d-container{/** Absolute position of D answer **/
    position: absolute;
    bottom: 0%;
    right: 0%;
    height: 50%;
}

/** MASKING DIV **/

#mask {/** style and position of masking div **/
    position: absolute;
    top: 7%;
    left: 0px;
    background-color: transparent;
    width: 100%;
    height: 86%;
    display: none;
    z-index: 1;
}

/** --------------------------------------------- **/
/** ----- MEDIA QUERY PORTRAIT ORIENTATION ------ **/
/** --------------------------------------------- **/

@media only screen and (orientation: portrait){
    #unhide-vertical{
        display: flex;
        flex-direction: column;
    }
    .hide-vertical{
        display: none;
    }
    .header-footer{
        display: none;
    }
}

/** ------------------------------------ **/
/** ----- MEDIA QUERY LESS 1140PX ------ **/
/** ------------------------------------ **/

@media screen and (max-width: 1140px) {
    
    /** HEADER & FOOTER LESS 1140PX **/
    .header-footer {/** set height, width, position and background color to header and foorter **/
        height: 10%;
        align-items: center;	
        justify-content: space-between;
    }
    #menu {/** Header - Menu **/
        line-height: normal;
        font-size: 120%;
        margin-left: 3px;
        margin-top: 15%;
        margin-right: 0px;
        z-index: 5;
    }
    #menu a {/** Header - Links **/	
        box-sizing: border-box;	
        display: block;	
        width: 95%;
        height: auto;	
        padding-left: 3px;
        background-color: rgba(65, 15, 60, 0.85);
        font-size: 100%;
        position: relative;
        z-index: 0;
    }	
    #hamburger-menu label {/** Header - Hamburger menu **/
        display: inline-block;	
        color: var(--off-white-text);	
        font-style: normal;	
        padding: 0.8%;	
        background-color: transparent;	
        position: fixed;
        right: 0px;
        top: 0px;
    }	
    #hamburger-menu input:checked ~ #menu {/** Header - Hamburger menu - event:click **/	
        display: block;
    }
    #menu {/** Header - Regular menu - hide **/
        display: none;
        margin-top: 40%;
    }
    #display-container {/** position and size of outer rules container **/
        height: 75%;
        top: 12.5%;
    }
    #logo-header {/** logo in header **/
        font-size: 120%;
        left: 2.5%;
        top: 11%;
    }
    #socials{/** footer - socials - position **/
        width: 85%;
        font-size: 100%;
    }
    #socials > li {/** footer - socials - links **/
        display: inline;
        padding-left: 15%;
    }
    ul{/** set top margin to socails **/
        margin-top: 3%;
    }

    /** RULES PAGE LESS 1140 PX **/
        
    h1{/** properties of h1 elements **/
        left: 15%;
    }
    h2{
        font-size: large;
    }
    #logo {/** properties of logo element **/
        height: 60px;
        width: 60px;
    }
    #display-container {/** position and size of outer rules container **/
        width: 97%;
        height: 78%;
        top: 11%;
        left: 1.5%;
        z-index: -1;
    }
    #rules-inner-container {/** position and size if inner rules container **/
        position: absolute;
        top: 5%;    
        left: 2.5%;
        width: 95%;
        height: 50%; 
    }
    #settings {/** position and size of rules navbar **/
        display: none;
    }
    #rules-user-details {/** position and size of user detials and play button form **/
        position: absolute;
        height: 35%;
        width: 95%;
        bottom: 3%;
        left: 2.5%;
    }
    #player-name-input {/** size and properties of input field **/
        height: 40px;
        margin-left: 0%;
        padding-left: 10px;
    }
    #play-button {/** position of play button **/
        margin-left: 15%;
    }
    #player-name-label {/** properties of player name label element **/
        font-size: 120%;
        font-weight: 100;
    }
    .rules-item{/** properties of li elemnts of rules **/
        margin-top: 2%;
        font-size: medium;
    }

    /** ALERT MESSAGE **/

    #ok-button {/** position of ok button of alert message **/
        position: absolute;
        bottom: 15px;
    }
    #alert-window {/** size and properties of alert message window **/
        position: fixed;
        width: 70%;
        height: 60%;
        top: 20%;
        left: 15%;
    }
    #info-icon {/** size and properties of info icon in alert window **/
        width: 7%;
        margin-right: 20px;
        margin-top: -2%;
    }
    #alert-message {/** margin of actual message text **/
        font-size: large;
    }
    
    /** LIFE-LINES **/

    #life-lines-container{/** size and position of lifelines outer container **/
        width: 14%;
        top: 5%;
    }
    .outer-round {/** size, position and colors of each lifeline **/
        width: 70px;
        height: 70px;
        border: 5px solid var(--unused-lifeline);
    }
    .outer-round:hover {/** lifeline event:hover **/
        border: 5px solid var(--hover-color);    
    }
    .lifeline-image{/** size of lifeline image **/
        width: 60%;
    }
    /** TIMER **/

    #timer-container {/** size and position of score container **/
        width: 20%;
        height: 40%;
        right: 20%;
    }
    #timer{/** size and position of timer text **/
        margin-top:5%;
        font-size: 140%;
    }
}