/** Imports **/
@import url('https://fonts.googleapis.com/css2?family=Monofett&family=Rubik&display=swap');

/** GENERAL RULES **/

* {/** general elements rule**/
    margin : 0;
    padding : 0;
    border: none;
    font-family: 'Rubik', sans-serif;
}
body {/** set background color **/
    background-color: #77aaf7;
    color: #f5eed8;
}
h1 {/** properties of h1 elements **/
    padding-bottom: 20px;
    left: 130px;
    position: absolute;
    top: 40px;
}
h2{
    color: #f5eed8;
}
label {/** properties of label elements **/
    font-size: 140%;
    font-weight: 600;
}
p {
    margin-top: 10px;
}
.align-center-center {/** alignment of elements center vertiaclly and horizontally **/
    display: flex;
    justify-content: center;
    align-items: center;
}
.align-horizontal{
    display: flex;
    justify-content: center;   
}
.blue-border {/** blue border for elements **/
    border: 2px solid #77aaf7;
}
.button {/** size and properties of buttons **/
    height: 40px;
    width: 150px;
    color: #77aaf7;
    border: 2px solid #77aaf7;
    font-family: 'Rubik', sans-serif;
    font-size: 150%;
    font-weight: 600;
}
.button:hover {/** buttons - event:hover **/
    background-color: #ecf01a;
}
.grey-background {/** grey background class for elements **/
    background-color: rgba(49, 54, 57, 0.95);
}
::placeholder {/** Color of placeholder text **/
    color: #77aaf7;
}
:-ms-input-placeholder {/** Color of placeholder text **/
    color: #77aaf7;
}
::-ms-input-placeholder {/** Color of placeholder text **/
    color: #77aaf7;
}
::-webkit-scrollbar {/** Scrollbars styling **/
    width: 10px;
}
::-webkit-scrollbar-track {/** Scrollbars styling **/
    background: rgba(49, 54, 57, 0.95);
}
::-webkit-scrollbar-thumb {/** Scrollbars styling **/
    background: #77aaf7;
}
::-webkit-scrollbar-thumb:hover {/** Scrollbars styling **/
    background: #3a1f64;
}

/** RULES PAGE **/

#logo {/** properties of logo elements **/
    height: 100px;
    width: 100px;
}
#display-container {/** position and size of outer rules container **/
    width: 95%;
    height: 95%;
    background-color: #053278;
    background-image: url(../images/rules-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 2.5%;
    left: 2.5%;
}
#rules-inner-container {/** position and size if inner rules container **/
    position: absolute;
    top: 5%;    
    left: 10%;
    width: 80%;
    height: 70%; 
    padding: 10px;
    overflow-y: scroll;
}
#rules-navbar {/** position and size of rules navbar **/
    width: 40%;
    height: 5%;
    position: absolute;
    bottom: 14%;
    left: 30%;
}
#rules-user-details {/** position and size of user detials and play button form **/
    position: absolute;
    width: 90%;
    height: 60px;
    bottom: 3%;
    left: 5%;
}
#player-name-input {/** size and properties of input field **/
    color: #f5eed8;
    height: 40px;
    background: transparent;
    border: 2px solid #77aaf7;
    margin-left: 20px;
    padding-left: 10px;
}
#play-button {/** position of play button **/
    margin-left: 60px;
}

/** ALERT MESSAGE **/

#ok-button {/** position of ok button of alert message **/
    position: absolute;
    bottom: 15px;
}
#alert-window {/** size and properties of alert message window **/
    background-color: rgb(86, 43, 165);
    background-image: url(../images/alert-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 36%;
    height: 28%;
    top: 32%;
    left: 32%;
    padding-top: 1%;
}
#info-icon {/** size and properties of info icon in alert window **/
    width: 7%;
    margin-right: 20px;
}
#alert-message {/** margin of actuall message text **/
    margin-top: 10%;
}

/** LIFE-LINES **/

#life-lines-container{
    width: 12%;
    height: auto;
    position: absolute;
    bottom: 5%;
    right: 3%;
    padding-top: 2%;
}.outer-round {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid green;
    margin: 22%;
    background-color: white;
    color: black;
}
.outer-round:hover {
    border: 10px solid yellow;    
}

